mixin btn(props = {})
  -
    var defaultProps = {
      fluid: false,

      tag: 'div',
      href: '#btn',
      buttonType: 'submit',
      disabled: false,

      radius: 'xl',

      icons: false,

      texts: [
        'white',
        'black',
      ],

      backgrounds: [
        'blue',
        'yellow',
      ],

      decorations: [
        'yellow',
        'black',
      ],
    };

    props = Object.assign({}, defaultProps, props);

  mixin btn-img(name)
    img.btn__img(src=("assets/images/" + name + ".svg"))
  mixin btn-icon(name)
    .btn__icon
      +btn-img(name)

  mixin btn-mask(modifier)
    .btn__mask(class=("btn__mask--" + modifier))
      .btn__place
        block
  mixin btn-block(modifier)
    .btn__block(class=("btn__block--" + modifier))(class=attributes.class)
      block

  mixin btn-text(modifier)
    .btn__text(class=("btn__text--" + modifier))
      block
  mixin btn-content(props)
    +btn-block("relative")(class=attributes.class)
      +btn-mask("main")
        .btn__content
          if props.icons
            +btn-icon(props.icons[0])
          +btn-text(props.texts[0])
            block
      +btn-mask("second")
        .btn__content
          if props.icons
            +btn-icon(props.icons[1])
          +btn-text(props.texts[1])
            block

  mixin btn-background(modifier)
    .btn__background(class=("btn__background--" + modifier))
  mixin btn-backgrounds(props)
    if props.backgrounds
      +btn-block("absolute")(class=attributes.class)
        +btn-mask("main")
          +btn-background(props.backgrounds[0])
        +btn-mask("second")
          +btn-background(props.backgrounds[1])
  
  mixin btn-decoration(modifier)
    .btn__decoration(class=("btn__decoration--" + modifier))
  mixin btn-decorations(props)
    if props.decorations
      +btn-block("absolute")(class=attributes.class)
        +btn-mask("main")
          - for (var i = 0; i < 2; i++)
            +btn-decoration(props.decorations[0])
        +btn-mask("second")
          - for (var i = 0; i < 2; i++)
            +btn-decoration(props.decorations[1])

  mixin btn-inner(props)
    +btn-backgrounds(props).z-index-1
    +btn-decorations(props).z-index-2
    +btn-content(props).z-index-3
      block

  .btn(class=(props.fluid && 'btn--fluid') class=('btn--radius--' + props.radius))
    case props.tag
      when 'div'
        .btn__btn
          +btn-inner(props)
            block
      when 'a'
        a.btn__btn(href=props.href)
          +btn-inner(props)
            block
      when 'button'
        button.btn__btn(type=props.buttonType disabled=props.disabled)
          +btn-inner(props)
            block
