mixin btn(props = {})
  -
    var defaultProps = {
      tag: 'div',
      href: '#btn',
      type: false,
      disabled: false,

      noHover: false,

      full: false,

      radius: 'xl',

      txt: ['white','black'],

      bg: [['blue'],['yellow']],

      dec: false,

      icon: false,
    };

    props = Object.assign({}, defaultProps, props);

  mixin btn-img(source)
    img.btn__img(src=source)
  mixin btn-icon(icon)
    -
      var name = icon[0];
      var mods = icon[1];

      var source = 'assets/images/' + name + '.svg';
      var classes = mods.map(mod => 'btn__icon--' + mod);
    .btn__icon(class=classes)
      +btn-img(source)

  mixin btn-mask(modifier)
    .btn__mask(class=("btn__mask--" + modifier))
      .btn__place
        block
  mixin btn-block(modifier)
    .btn__block(class=("btn__block--" + modifier))(class=attributes.class)
      block

  mixin btn-text(modifier)
    .btn__text(class=("btn__text--" + modifier))
      block
  mixin btn-content(props)
    +btn-block("relative")(class=attributes.class)
      +btn-mask("main")
        .btn__content
          if props.icon
            +btn-icon(props.icon[0])
          +btn-text(props.txt[0])
            block
      +btn-mask("second")
        .btn__content
          if props.icon
            +btn-icon(props.icon[1])
          +btn-text(props.txt[1])
            block

  mixin btn-background(mods)
    -
      var classes = mods.map(mod => 'btn__background--' + mod)
    .btn__background(class=classes)
  mixin btn-backgrounds(props)
    if props.bg
      +btn-block("absolute")(class=attributes.class)
        +btn-mask("main")
          +btn-background(props.bg[0])
        +btn-mask("second")
          +btn-background(props.bg[1])
  
  mixin btn-decoration(mods)
    -
      var classes = mods.map(mod => 'btn__decoration--' + mod)
    .btn__decoration(class=classes)
  mixin btn-decorations(props)
    if props.dec
      +btn-block("absolute")(class=attributes.class)
        +btn-mask("main")
          each i in repeat(2)
            +btn-decoration(props.dec[0])
        +btn-mask("second")
          each i in repeat(2)
            +btn-decoration(props.dec[1])

  mixin btn-inner(props)
    +btn-backgrounds(props).z-index-1
    +btn-decorations(props).z-index-2
    +btn-content(props).z-index-3
      block

  .btn(class=(props.full && 'btn--full') class=('btn--radius--' + props.radius) class=(props.noHover && 'btn--no-hover'))
    -
      var classes = '';
      classes += props.active && 'btn__btn--active' || '';
      classes += props.noHover && 'btn__btn--no-hover' || '';
    case props.tag
      when 'div'
        .btn__btn(class=classes)
          +btn-inner(props)
            block
      when 'a'
        a.btn__btn(class=classes href=props.href)
          +btn-inner(props)
            block
      when 'button'
        button.btn__btn(class=classes type=props.type disabled=(props.disabled && ""))
          +btn-inner(props)
            block
