extends ../app

block definitions
  -
    app.title = 'Карточка товара';
    var unitCount = 3;

block side-modal
  each i, index in repeat(unitCount)
    +side-modal({ id: `unit-${index + 1}`, mods: ['unit'] })

block content
  +space(['header'], ['pt'])

  +space(['sub-block'])
  +container
    +grid([2])
      .grid__item.mob-bottom

        .only-desktop
          +breadcrumbs(['Главная', 'АЛИНА®', 'АЛИНА®-100'])

          +space(['sub-block'])
          +grid(['card-title'])
            .grid__item
              .circle.circle--blue.circle--small
                a.circle__button(href='#')
                  +arrow-left-svg.circle__svg.circle__svg--arrow-left
            .grid__item
              +heading(['main'], 1)
                |АЛИНА®-100
          +space(['gap'])

        +space(['mid-block'])
        +heading(['sub'], 2)
          |Класс защиты
        +space(['hr'])
        +grid(['col-3'])
          -
            var guards = [
              {
                title: 'FFP1',
                text : 'Предельно допустимая<br>концентрация до 4',
              },
              {
                title: 'NR',
                text : 'Многоразование<br>использование',
              },
              {
                title: 'D',
                text : 'Пройдено испытание по<br>устойчивости к запылению',
              },
            ];
          each guard in guards
            .grid__item
              +guard(guard)
        +space(['mid-block'])
        
        +grid(['col-3-desk-2-mob'])
          -
            var values = [
              {
                src: 'assets/images/card/value-1.svg',
                title: 'Клапан выдоха',
                text: 'Есть',
              },
              {
                src: 'assets/images/card/value-2.svg',
                title: 'Конструкция',
                text: 'Формованный',
              },
            ];
          each value in values
            .grid__item
              +card-value(value)

        -
          var labels = [
            {
              src: 'assets/images/card/label-1.svg',
              title: 'Защита от всех видов аэрозолей',
              tabs: [
                'Пыль',
                'Дым',
                'Туман',
              ],
            },
            {
              src: 'assets/images/card/label-2.svg',
              title: 'Дополнительная защита',
              tabs: [
                'Органические газы и пары от нагрева металлов',
                'Сварочные аэрозоли, озон',
                'Кислые газы',
                'Неорганические газы',
                'Основные газы',
                'Вирусы и бактерии',
                'Радиоактивный йод',
                'Радиоактивные и канцерогенные аэрозоли',
              ],
            },
            {
              src: 'assets/images/card/label-3.svg',
              title: 'Документы',
              tabs: [
                'ГОСТ 12.4.294-2015',
                'ТР ТС 019/2011',
                'EN 149:2001+А1:2009',
                'ГОСТ 12.4.217-2001',
                'РУ Росздравнадзора',
                'Подтверждение Минпромторга',
              ],
            },
          ];
        each label in labels
          +space(['mid-block'])
          +container(['card-label'])
            img.container__img(src=label.src)
            +heading(['small-sub'], 3)
              |!{label.title}
            +space(['gap'])
            +wrap-list
              each tab in label.tabs
                li.wrap-list__item
                  +static-tab
                    |!{tab}

        +space(['sub-section'])
        +grid(['col-3'])
          -
            var infos = [
              {
                title: 'Упаковка',
                value: 'Индивидуальная',
              },
              {
                title: 'Минимальное количество для заказа',
                value: '250 шт',
              },
              {
                title: 'Срок хранения',
                value: '4 года',
              },
            ];
          each info in infos
            .grid__item
              +hr
              +space(['sub-hr'])
              +text(['card-info-title'])
                |!{info.title}
              +space(['sub-hr'])
              +text(['card-info-value'])
                |!{info.value}

        +space(['sub-section'])
        +heading(['sub'], 2)
          |Описание
        +space(['hr'])
        +container(['card'])
          +text(['card', 'pre-line'])
            |Алина-210 – фильтрующее средство индивидуальной защиты органов дыхания одноразового применения с клапаном выдоха. Класс защиты FFP2.
            br
            br
            |Благодаря неформованной конструкции и эластичному фильтрующему контуру респиратор адаптируется к любому типу и размеру лица, не смещается и не допускает проникновения загрязненного воздуха по полосе прилегания при мимических движениях и поворотах головы.
            br
            br
            |Регулируемые ленты оголовья и гибкая носовая пластина помогают индивидуально настраивать посадку респиратора. Клапан выдоха выводит тепло и влагу из подмасочного пространства, делая использование респиратора более комфортным.
          +space([32])
          +grid(['list'])
            -
              var items = [
                'Эластичная линия прилегания позволяет респиратору сжиматься и растягиваться, подстраиваясь под параметры лица',
                'Пластиковый каркас располагает фильтрующий материал дальше от лица.',
                'Фильтрующая поверхность увеличена за счет неформованной конструкции. Это снижает сопротивление дыханию.',
                'Пользователь может настраивать длину верхней и нижней лент оголовья.',
              ];
            each item in items
              .grid__item
                +container(['li'])
                  +li-svg.container__svg
                  +text(['card', 'pre-line'])
                    |!{item}

        +space(['sub-block'])
        +heading(['sub'], 2)
          |Применение
        +space(['hr'])
        +container(['card'])
          +text(['card', 'pre-line'])
            |Респиратор предназначен для защиты органов дыхания человека от всех видов аэрозолей (пыль, дым туман) при их концентрации до 12 ПДК.
            br
            br
            |Применяется на предприятиях машиностроения, металлургии, в фармацевтической и пищевой промышленности. Защищает органы дыхания при проведении строительных и ремонтных работ, обращении с сыпучими веществами. Эффективен при работе в тяжелых условиях, в областях повышенных и пониженных температур, повышенной влажности.
        
        +space(['sub-section'])
        +card-new({ tab: 'Статьи', day: '29', month: '11', title: 'Как правильно использовать респиратор', src: 'assets/images/card/new.jpeg' })

        +space(['sub-section'])
        +heading(['sub'], 2)
          |Документация
        +space(['hr'])
        +grid(['3-3', 'row-gap'])
          -
            var docs = [
              {
                text: 'Сертификат ТР ТС 019/2011',
                label: '235 КБ',
              },
              {
                text: 'Сертификат EN 149:2001+A1:2009',
                label: '235 КБ',
              },
              {
                text: 'Декларация соответствия',
                label: '235 КБ',
              },
              {
                text: 'Инструкция по надеванию',
                label: '235 КБ',
              },
            ];
          each doc in docs
            .grid__item
              +doc(doc)
              
      .grid__item

        .only-mobile
          +breadcrumbs(['Главная', 'АЛИНА®', 'АЛИНА®-100'])

          +space(['sub-block'])
          +grid(['card-title'])
            .grid__item
              .circle.circle--blue.circle--small
                a.circle__button(href='#')
                  +arrow-left-svg.circle__svg.circle__svg--arrow-left
            .grid__item
              +heading(['main'], 1)
                |АЛИНА®-100
          +space(['gap'])

        .rails
          .rails__train
            .aside
              +grid(['gallery'])
                .grid__item
                  +container(['gallery'])
                    img(src='assets/images/card/card-bg.jpeg' data-gallery=0)
                .grid__item
                  +container(['gallery'])
                    img(src='assets/images/masks-2.jpg' data-gallery=1)
                .grid__item
                  +container(['gallery'])
                    img(src='assets/images/card/masks-3-new.jpeg' data-gallery=2)
              

  +space(['mid-block'])
  +card-panel

  +space(['sub-section'])
  +container
    +hr
    +space(['hr'], ['pt'])
    +grid(['unit-panel'])
      .grid__item
        +heading(['sub'])
          |аналоги
      .grid__item
        +grid(['controls'])
          .grid__item
            .circle
              button.circle__button(type="button" data-swiper-slider-prev='unit')
                +arrow-left-svg.circle__svg.circle__svg--arrow-left
          .grid__item
            .circle
              button.circle__button(type="button" data-swiper-slider-next='unit')
                +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
  +space(['sub-block'])
  +container(['unit'])
    .swiper.swiper-slider(data-swiper-slider='unit')
      .swiper-wrapper
        each i, index in repeat(unitCount)
          .swiper-slide
            +unit({ sideModalId: `unit-${index + 1}` })