extends ../app

block header
block footer

//- block grid-test

mixin sub-title
  h2.sub-title(class=attributes.class)
    block

mixin btn(props = {})
  -
    var defaultProps = {
      fluid: false,

      tag: 'div',
      href: '#btn',
      buttonType: 'submit',
      disabled: false,

      radius: 'xl',

      icons: false,

      texts: [
        'white',
        'black',
      ],

      backgrounds: [
        'blue',
        'yellow',
      ],

      decorations: [
        'yellow',
        'black',
      ],
    };

    props = Object.assign({}, defaultProps, props);

  mixin btn-img(name)
    img.btn__img(src=("assets/images/" + name + ".svg"))
  mixin btn-icon(name)
    .btn__icon
      +btn-img(name)

  mixin btn-mask(modifier)
    .btn__mask(class=("btn__mask--" + modifier))
      .btn__place
        block
  mixin btn-block(modifier)
    .btn__block(class=("btn__block--" + modifier))(class=attributes.class)
      block

  mixin btn-text(modifier)
    .btn__text(class=("btn__text--" + modifier))
      block
  mixin btn-content(props)
    +btn-block("relative")(class=attributes.class)
      +btn-mask("main")
        .btn__content
          if props.icons
            +btn-icon(props.icons[0])
          +btn-text(props.texts[0])
            block
      +btn-mask("second")
        .btn__content
          if props.icons
            +btn-icon(props.icons[1])
          +btn-text(props.texts[1])
            block

  mixin btn-background(modifier)
    .btn__background(class=("btn__background--" + modifier))
  mixin btn-backgrounds(props)
    if props.backgrounds
      +btn-block("absolute")(class=attributes.class)
        +btn-mask("main")
          +btn-background(props.backgrounds[0])
        +btn-mask("second")
          +btn-background(props.backgrounds[1])
  
  mixin btn-decoration(modifier)
    .btn__decoration(class=("btn__decoration--" + modifier))
  mixin btn-decorations(props)
    if props.decorations
      +btn-block("absolute")(class=attributes.class)
        +btn-mask("main")
          - for (var i = 0; i < 2; i++)
            +btn-decoration(props.decorations[0])
        +btn-mask("second")
          - for (var i = 0; i < 2; i++)
            +btn-decoration(props.decorations[1])

  mixin btn-inner(props)
    +btn-backgrounds(props).z-index-1
    +btn-decorations(props).z-index-2
    +btn-content(props).z-index-3
      block

  .btn(class=(props.fluid && 'btn--fluid') class=('btn--radius--' + props.radius))
    case props.tag
      when 'div'
        .btn__btn
          +btn-inner(props)
            block
      when 'a'
        a.btn__btn(href=props.href)
          +btn-inner(props)
            block
      when 'button'
        button.btn__btn(type=props.buttonType disabled=props.disabled)
          +btn-inner(props)
            block

mixin company(index)
  -
    var texts = [
      'Интернет-магазин OZON',
      'Интернет-магазин WILDBERRIES',
      'Торговая сеть «Максидом»',
      'Торговая сеть «Леруа Мерлен»',
      'Сеть магазинов «Строитель»',
      'Торговый дом «Вимос»',
    ]

  a.company(href=("#company-" + index))
    .company__frame
      img.company__img(src="assets/images/company-" + index + ".jpeg")
    .company__text
      |#{texts[index]}

mixin companies(count = 6)
  -
    var maxCount = 6;

  .companies(class=attributes.class)
    - for (var index = 0; index < count; index++)
      .companies__place
        +company(index % maxCount)

mixin drop(items)
  .drop(data-drop)
    .drop__wrap
      .drop__btn(data-drop-btn)
        .drop__cur
          block
        .drop__icon
          |>
      nav.drop__nav(data-drop-nav)
        ul.drop__list
          each item, index in items
            li.drop__item
              a.drop__link(href=`#drop-${index}`)= item

block content
  div(style="overflow-y: hidden;")
    - for (var i = 0; i < 15; i++)
      section.section.container
        +drop(['Промышленным предприятиям', 'Медицинским учреждениям', 'Торговым организациям'])
          |Партнерам-#{i}

  //- section.section.container
    +btn({ tag: 'a', href: '#watch' })
      |Смотреть серию
    +btn({ tag: 'button', disabled: true })
      |оформить заказ
    +btn({ tag: 'button', buttonType: 'button', backgrounds: ['white', 'yellow'], texts: ['black', 'black'] })
      |закрыть
    +btn({ tag: 'a', href: '#map', decorations: false, backgrounds: ['white', 'yellow'], texts: ['black', 'black'],  icons: ['map-blue', 'map-black'], radius: 'l' })
      |на карте
    +btn({ tag: 'button', buttonType: 'button', decorations: false, fluid: true, icons: ['li-yellow', 'li-black'], radius: 'l' })
      |Добавить респиратор в заказ
    form(style="background-color: black;")
      +btn({ tag: 'button', backgrounds: ['transparent', 'yellow'] })
        |оформить заказ
    +btn({ tag: 'button', buttonType: 'reset', icons: ['reset-yellow', 'reset-black'], backgrounds: ['white', 'yellow'], texts: ['black', 'black'], fluid: true, decorations: false, radius: 'l' })
      |сбросить

  //- section.section.container
      .hr.space-between
        +sub-title
          |Где купить в розницу
        +btn({ tag: 'a' })
          |полный список
      +companies.companies--margin--default
