extends ../app

block header
block footer

block preloader

block content
  |consumers

//- block grid-test

//- mixin sub-title
//-   h2.sub-title(class=attributes.class)
//-     block

//- mixin company(index)
//-   -
//-     var texts = [
//-       'Интернет-магазин OZON',
//-       'Интернет-магазин WILDBERRIES',
//-       'Торговая сеть «Максидом»',
//-       'Торговая сеть «Леруа Мерлен»',
//-       'Сеть магазинов «Строитель»',
//-       'Торговый дом «Вимос»',
//-     ]

//-   a.company(href=("#company-" + index))
//-     .company__frame
//-       img.company__img(src="assets/images/company-" + index + ".jpeg")
//-     .company__text
//-       |#{texts[index]}

//- mixin companies(count = 6)
//-   -
//-     var maxCount = 6;

//-   .companies(class=attributes.class)
//-     - for (var index = 0; index < count; index++)
//-       .companies__place
//-         +company(index % maxCount)

//- mixin drop(items)
//-   .drop(class=attributes.class data-drop data-qwe=attributes.small)
//-     .drop__wrap
//-       .drop__btn(data-drop-btn)
//-         .drop__cur
//-           block
//-         +arrow-drop-svg.drop__svg
//-       nav.drop__nav(data-drop-nav)
//-         ul.drop__list
//-           each item, index in items
//-             li.drop__item
//-               a.drop__link(href=`#drop-${index}`)= item

//- block content
//-   |wow

//- //- block content
//-   section.section.container
//-     +drop(['en', 'Fr', 'Kaz', 'JP', 'UZ']).drop--small.drop--yellow(small, yellow)
//-       |Ru
//-   section.section.container
//-     +drop(['Промышленным предприятиям', 'Медицинским учреждениям', 'Торговым организациям'])
//-           |Партнерам
  
//-   section.section.container
//-     +btn({ tag: 'a', href: '#watch' })
//-       |Смотреть серию
//-     +btn({ tag: 'button', disabled: true })
//-       |оформить заказ
//-     +btn({ tag: 'button', buttonType: 'button', backgrounds: ['white', 'yellow'], texts: ['black', 'black'] })
//-       |закрыть
//-     +btn({ tag: 'a', href: '#map', decorations: false, backgrounds: ['white', 'yellow'], texts: ['black', 'black'],  icons: ['map-blue', 'map-black'], radius: 'l' })
//-       |на карте
//-     +btn({ tag: 'button', buttonType: 'button', decorations: false, fluid: true, icons: ['li-yellow', 'li-black'], radius: 'l' })
//-       |Добавить респиратор в заказ
//-     form(style="background-color: black;")
//-       +btn({ tag: 'button', backgrounds: ['transparent', 'yellow'] })
//-         |оформить заказ
//-     +btn({ tag: 'button', buttonType: 'reset', icons: ['reset-yellow', 'reset-black'], backgrounds: ['white', 'yellow'], texts: ['black', 'black'], fluid: true, decorations: false, radius: 'l' })
//-       |сбросить

//-   section.section.container
//-       .hr.space-between
//-         +sub-title
//-           |Где купить в розницу
//-         +btn({ tag: 'a' })
//-           |полный список
//-       +companies.companies--margin--default
