extends ../app

block header
block footer

block preloader

block content
  .container
    //- text
    .text-container
      .text.text--active.fade
        - var words = ("Российский производитель фильтрующих респираторов").split(" ");
        each word, index in words
          .text__mask
            .text__word
              .text__text.text__text--yellow
                |!{word + (index < (words.length - 1) ? "&nbsp;" : "")}
      .text.fade
        - var words = ("Российский производитель фильтрующих респираторов").split(" ");
        each word, index in words
          .text__mask
            .text__word
              .text__text.text__text--yellow
                |!{word + (index < (words.length - 1) ? "&nbsp;" : "")}
      .text.fade.fade--active
        each i, index in repeat(30)
          .text__mask
            .text__word
              .text__text.text__text--large
                |25
              .text__text.text__text--top
                |лет

  //- fade
  .container
    .fade
      |qweewq
    .fade.fade--active
      |qweewq

  //- div(style="overflow-y: hidden")
    each i in repeat(1)
      +top

mixin top(count = 3)
  .top(data-aos="fade-up" data-top)
    .top__layout
      .swiper.top__swiper(data-top-swiper)
        .swiper-wrapper
          each i, index in repeat(count)
            .swiper-slide.top__slide
              .top__slide-label
                |#{index}
              .top__parallax
                +picture2({imgClasses:['top__img']}).top__picture(data-swiper-parallax="28%")
    .top__layout
      .container.top__content
        |content
      .top__controls
        each i, index in repeat(count)
          .top__control(data-top-control)
            +btn
              |#{`slide ${index}`}
