include ./components/btn
include ./components/drop
include ./components/grid-test
include ./components/header
include ./components/footer
include ./components/picture
include ./components/preloader
include ./components/top
include ./components/slider
include ./components/series
include ./components/js-test

include ./components/wrap-list
include ./components/modals
include ./components/breadcrumbs
include ./components/tab
include ./components/press
include ./components/heading
include ./components/space
include ./components/text
include ./components/doc
include ./components/feature
include ./components/grid
include ./components/hr
include ./components/select
include ./components/market
include ./components/article
include ./components/container
include ./components/our
include ./components/calture
include ./components/link
include ./components/stack
include ./components/social
include ./components/static-tab
include ./components/card-value
include ./components/guard
include ./components/card-new
include ./components/card-panel
include ./components/reslider
include ./components/fslider
include ./components/history
include ./components/filters
include ./components/side-modal
include ./components/cooperation
include ./components/unit
include ./components/app
include ./components/listing

//- first

mixin first(src)
  .first
    img.first__bg(src=src)
    .first__layout
      block

mixin first-vid(src)
  .first
    video.first__bg(muted loop playsinline poster="assets/images/about.jpeg" data-start-video='')
      source(type="video/mp4" src=src)
    .first__layout
      block

//- second

mixin second
  .second
    +container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second.jpeg')
        .second__top
          .second__content
            .second__content-text
              span.second__content-highlight
                |Работайте и достигайте #[br] успеха 
              span вместе с Респира-#[br]торным комплексом
        .second__bottom
          .second__text
            |Верим, что достижения компании неразрывно связаны с&nbsp;работой людей. Людей, которые разделяют наши ценности и&nbsp;своей инициативой и&nbsp;ответственным трудом двигают компанию вперед

mixin second-2
  .second
    +container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second-2.jpeg')
        .second__top.second__top--small
          .second__content
            .second__content-title
              |25+ лет
            .second__content-description
              |специализируемся на&nbsp;разработке и&nbsp;производстве фильтрующих полумасок
        .second__bottom.second__bottom--empty

mixin second-3
  .second.second--azn
    +container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second-3.jpeg')
        .second__top
          .second__content.second__content--small
            .second__content-text
              |Продукция Респираторного комплекса станет качественной поддержкой 
              span.second__content-highlight
                |вашему ассортименту и&nbsp;репутации
        .second__bottom
          .second__text
            |Люди, применяющие респираторы в&nbsp;работе и&nbsp;в&nbsp;быту, ценят нашу продукцию за&nbsp;надежную защиту, низкое сопротивление дыханию, гигиеничность и&nbsp;качество упаковки. Отзывы демонстрируют доверие к&nbsp;нашим торговым маркам на&nbsp;основе положительного опыта использования.

mixin second-4
  .second
    +container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second-4.jpeg')
        .second__top
          .second__content.second__content--small
            .second__content-text.second__content-text--pre-line
              |Наша задача&nbsp;&mdash; помочь медицинским учреждениям 
              span.second__content-highlight
                |в&nbsp;создании безопасных условий 
              |для медперсонала:
        .second__bottom
          ul.funds-list.funds-list--large
            -
              var items = [
                'При контакте с инфицированными материалами',
                'При возможном контакте с наиболее опасными возбудителями заболеваний (туберкулез, COVID-19, атипичная пневмония, грипп)',
              ]
            each item in items
              .funds-list__item
                img.funds-list__img(src='assets/images/fund.svg')
                .funds-list__text= item

mixin second-5
  .second
    +container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second-5.jpeg')
        .second__top
          .second__content.second__content--small
            .second__content-text
              |Респираторный комплекс стремится 
              span.second__content-highlight  
                |превосходить ожидания 
              |и стандарты клиентов и партнеров
        .second__bottom
          .second__text
            |Внедрена интегрированная система менеджмента как гарант качества, надежности и&nbsp;безопасности выпускаемой продукции

mixin second-6
  .second.second--azn
    +container
      .second__grid
        .second__bg
        .second__image
          img.second__img(src='assets/images/second-6.jpeg')
        .second__top.second__top--small
          .second__content
            .second__content-title
              |25+ лет
            .second__content-description
              |специализируемся на&nbsp;разработке и&nbsp;производстве фильтрующих полумасок
        .second__bottom.second__bottom--empty


//- email

mixin email(email)
  .email
    a.email__link(href=`mailto:${email}`)= email

//- why

mixin why
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin why-list
    -
      var items = [
        'Мы эксперты в области средств индивидуальной защиты органов дыхания',
        'Разрабатываем и производим продукцию, которая много лет неизменно держит высокую планку качества и заслужила доверие потребителей',
        'Работой в Респираторном комплексе можно гордиться, ведь предприятие создает важный продукт и делает это хорошо',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/3

  .why
    .why__layout
      +container.why__container
        .why__image
          img.why__img(src='assets/images/why.jpeg')
    .why__layout
      +container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Почему стоит выбрать Респираторный комплекс
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |профессионализм
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__wrapper
                  +why-list
              .why__bottom-item
                +progress
                
mixin why-2
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin why-list
    -
      var items = [
        'Аэрозоли концентрацией до 50 ПДК',
        'Кислые и органические пары и газы',
        'Пары аммиака, ртути и прочие вещества',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/3

  .why
    .why__layout
      +container.why__container
        .why__image
          img.why__img(src='assets/images/why-2.jpeg')
    .why__layout
      +container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Мы предлагаем
              .why__mobile 
                +progress
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |Ассортимент
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__wrapper
                  +stack(['small'])
                    .stack__item
                      .why__description
                        |Разнообразие конструкций и&nbsp;защитных характеристик респираторов помогает подобрать СИЗОД под запросы ваших сотрудников и&nbsp;условия труда:
                    .stack__item
                      +why-list
              .why__bottom-item
                +progress

mixin why-3
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin why-list
    -
      var items = [
        'Аэрозоли концентрацией до 50 ПДК',
        'Кислые и органические пары и газы',
        'Пары аммиака, ртути и прочие вещества',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/3

  .why
    .why__layout
      +container.why__container
        .why__image
          img.why__img(src='assets/images/why-3.jpeg')
    .why__layout
      +container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Мы предлагаем
              .why__mobile 
                +progress
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |Различные варианты&nbsp;упаковки и&nbsp;комплектации
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__wrapper
                  .why__description
                    |Специальная упаковка с&nbsp;подвесами для розничных магазинов, компактная индивидуальная упаковка, коробки и&nbsp;пакеты для комплектов из&nbsp;нескольких изделий&nbsp;&mdash; мы&nbsp;даем нашим партнерам возможность организовать поставку предприятиям или выкладку товаров и&nbsp;продажу самым удобным способом. Прислушиваемся к&nbsp;пожеланиям и&nbsp;дорабатываем упаковку, а&nbsp;в&nbsp;отдельных случаях, разрабатываем новую.
              .why__bottom-item
                +progress

mixin why-4
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin why-list
    -
      var items = [
        'Мы эксперты в области средств индивидуальной защиты органов дыхания',
        'Разрабатываем и производим продукцию, которая много лет неизменно держит высокую планку качества и заслужила доверие потребителей',
        'Работой в Респираторном комплексе можно гордиться, ведь предприятие создает важный продукт и делает это хорошо',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/3

  .why
    .why__layout
      +container.why__container
        .why__image
          img.why__img(src='assets/images/why-4.jpeg')
    .why__layout
      +container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Работа с нами
              .why__mobile 
                +progress
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |Экспертный подход
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__wrapper
                  +stack
                    .stack__item
                      .why__description
                        |Многолетний опыт поставок в медучреждения позволил нам изучить процесс во всех деталях и глубоко погрузиться в специфику закупок в здравоохранении. Делимся знаниями и помогаем найти оптимальный порядок поставок СИЗОД.
                    .stack__item
                      +press.press--info
                        |задать вопрос
              .why__bottom-item
                +progress

mixin why-5
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin why-list
    -
      var items = [
        'Лабораторный контроль качества материалов',
        'Опытные испытания',
        'Контроль качества комплектующих',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/4

  .why
    .why__layout
      +container.why__container
        .why__image
          img.why__img(src='assets/images/why-5.jpeg')
    .why__layout
      +container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Производственный процесс
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |Выбор поставщика
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__wrapper
                  +why-list
              .why__bottom-item
                +progress

mixin why-6
  mixin controls
    .controls
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--arrow-left
      .controls__item
        .circle.circle--blue
          button.circle__button(type="button")
            +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
          
  mixin why-list
    -
      var items = [
        'Аэрозоли концентрацией до 50 ПДК',
        'Кислые и органические пары и газы',
        'Пары аммиака, ртути и прочие вещества',
      ]

    ul.why__list
      each item in items
        li.why__list-item
          +li-svg.why__list-svg
          .why__list-text= item

  mixin progress
    .why__progress
      .why__progress-cur
        .why__progress-text.why__progress-text--fake
          |2
        .why__progress-text
          |1
      .why__progress-all
        |/3

  .why
    .why__layout
      +container.why__container
        .why__image
          img.why__img(src='assets/images/why-6.jpeg')
    .why__layout
      +container.why__container
        .why__top-bottom
          .why__top-bottom-item
            .why__border
              h2.why__title
                |Наши ценности
            .why__panel
              .why__panel-item
                +controls
              .why__panel-item
                h3.why__sub-title
                  |Стремление к&nbsp;идеальному продукту
          .why__top-bottom-item
            .why__bottom
              .why__bottom-item
                .why__wrapper
                  .why__description
                    |Испытания фильтрующих материалов и&nbsp;новых сорбентов в&nbsp;наших лабораториях помогают совершенствовать защитные характеристики респираторов. Мониторинг клиентского опыта&nbsp;&mdash; источник адаптации наших продуктов и&nbsp;повышения комфорта использования полумасок.
              .why__bottom-item
                +progress


//- list

mixin list(items)
  ul.list&attributes(attributes)
    each item in items
      li.list__item
        +li-svg.list__svg
        .list__text= item
