mixin footer
  footer.footer
    .footer__phones
      -
        var items = [
          {
            number: '8 812 703-37-33',
            href: '88127033733',
            description: 'Многоканальный',
          },
          {
            number: '8 812 329-11-65',
            href: '88123291165',
            description: 'Отдел продаж, только для юридических лиц',
          },
        ]
      each item in items
        a.footer__phones-item(href=`tel:${item.href}`)
          .footer__phones-number= item.number
          .footer__phones-description= item.description
          .footer__phones-mark.footer__circle
            .footer__circle-link
              +arrow-tilt-svg.footer__circle-svg.footer__circle-svg--arrow-tilt
    +container
      .footer__mail
        - var mail = 'zakaz@rkszpe.ru';
          a.footer__mail-link(href=`mailto:${mail}`)= mail
      .footer__grid
        -
          var lists = [
            [
              'О компании',
              'Контроль качества',
              'Работа у нас',
              'Документация',
              'Медиа-центр',
              'Контакты',
            ],
            [
              'Промышленным организациям',
              'Медицинским учреждениям',
              'Торговым организациям',
              'Потребителям',
              'Оформить заказ',
              'Где купить',
            ],
            [
              'Политика конфиденциальности',
            ],
          ]
        each list in lists
          .footer__grid-place
            ul.footer__list
              each item in list
                li.footer__list-item
                  a.footer__list-link(href="#")= item
        .footer__grid-place
          .footer__blocks
            .footer__blocks-item
              ul.footer__socials
                li.footer__socials-item.footer__circle
                  a.footer__circle-link(href="#")
                    +zen-svg.footer__circle-svg.footer__circle-svg--zen
                li.footer__socials-item.footer__circle
                  a.footer__circle-link(href="#")
                    +yt-svg.footer__circle-svg.footer__circle-svg--yt
                li.footer__socials-item.footer__circle
                  a.footer__circle-link(href="#")
                    +vk-svg.footer__circle-svg.footer__circle-svg--vk
            .footer__blocks-item
              +press
                |корпоративный портал
            .footer__blocks-item
              .footer__authors
                .footer__authors-item
                  .footer__authors-text
                    |© 2010-2021 ООО «Респираторный комплекс» 
                .footer__authors-item
                  .footer__authors-text
                    |Сделано в&nbsp; 
                    a.footer__authors-link(href="#")
                      |CloudMill