//- 
  props
    icon [icon1, icon2, position]
    href? string

mixin press(props = {})
  .press&attributes(attributes)
    if (props.href)
      a.press__btn(href=props.href)
        .press__content
          .press__content-item.press__content-item--start
            if (props.icon && props.icon[2] === 'left')
              .press__icon.press__icon--start
                img(src=File.getPathFromFilename(props.icon[0])).press__icon-img
            .press__text.press__text--start
              block
            if (props.icon && props.icon[2] === 'right')
              .press__icon.press__icon--start
                img(src=File.getPathFromFilename(props.icon[0])).press__icon-img
          .press__content-item.press__content-item--end
            if (props.icon && props.icon[2] === 'left')
              .press__icon.press__icon--end
                img(src=File.getPathFromFilename(props.icon[1])).press__icon-img
            .press__text.press__text--end
              block
            if (props.icon && props.icon[2] === 'right')
              .press__icon.press__icon--end
                img(src=File.getPathFromFilename(props.icon[1])).press__icon-img
        .press__bg
          .press__bg-item.press__bg-item--start
          .press__bg-item.press__bg-item--end
        .press__decor
          .press__decor-item.press__decor-item--start
            .press__decor-arrow
            .press__decor-arrow
          .press__decor-item.press__decor-item--end
            .press__decor-arrow
            .press__decor-arrow
    else
      .press__btn
        .press__content
          .press__content-item.press__content-item--start
            if (props.icon && props.icon[2] === 'left')
              .press__icon.press__icon--start
                img(src=File.getPathFromFilename(props.icon[0])).press__icon-img
            .press__text.press__text--start
              block
            if (props.icon && props.icon[2] === 'right')
              .press__icon.press__icon--start
                img(src=File.getPathFromFilename(props.icon[0])).press__icon-img
          .press__content-item.press__content-item--end
            if (props.icon && props.icon[2] === 'left')
              .press__icon.press__icon--end
                img(src=File.getPathFromFilename(props.icon[1])).press__icon-img
            .press__text.press__text--end
              block
            if (props.icon && props.icon[2] === 'right')
              .press__icon.press__icon--end
                img(src=File.getPathFromFilename(props.icon[1])).press__icon-img
        .press__bg
          .press__bg-item.press__bg-item--start
          .press__bg-item.press__bg-item--end
        .press__decor
          .press__decor-item.press__decor-item--start
            .press__decor-arrow
            .press__decor-arrow
          .press__decor-item.press__decor-item--end
            .press__decor-arrow
            .press__decor-arrow

mixin press-header 
  .press&attributes(attributes)
    .press__btn
      .press__content
        .press__content-item.press__content-item--start
          .press__icon.press__icon--start
            img(src='assets/images/menu-start.svg').press__icon-img
          .press__text.press__text--start
            block
        .press__content-item.press__content-item--end
          .press__icon.press__icon--end
            img(src='assets/images/menu-end.svg').press__icon-img.press__icon-show
            img(src='assets/images/cross.svg').press__icon-img.press__icon-hidden
          .press__text.press__text--end
            block
      .press__bg
        .press__bg-item.press__bg-item--start
        .press__bg-item.press__bg-item--end
      .press__decor
        .press__decor-item.press__decor-item--start
          .press__decor-arrow
          .press__decor-arrow
        .press__decor-item.press__decor-item--end
          .press__decor-arrow
          .press__decor-arrow