mixin reslider(mod)
  
  mixin reslider-list(items)
    ul.reslider__list
      each item in items
        li.reslider__list-item
          +li-svg.reslider__list-svg
          .reslider__list-text= item
  
  case mod
    when 'about'
      - var count = 5;
      .reslider(data-reslider-count=count)
        .reslider__layout
          .swiper
            .swiper-wrapper
              each i, index in repeat(count)
                .swiper-slide
                  img.reslider__img(src=`assets/images/reslider/about/${index % 3}.jpg` alt='' data-swiper-parallax='28%')
        .reslider__content
          .reslider__place
            +container
              +space(['block'], ['pt'])
              +hr(['light'])
              +space(['hr'])
              +heading(['sub'], 2)
                |Наши ценности
              +space(['sub-block'])
              +grid(['3-6'])
                .grid__item
                  +grid(['controls'])
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-prev)
                          +arrow-left-svg.circle__svg.circle__svg--arrow-left
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-next)
                          +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
                -
                  var titles = [
                    'Стремление к идеальному продукту',
                    'Развитие эффективных технологий защиты',
                    'Приоритет клиента',
                    'Стремление к идеальному продукту',
                    'Развитие эффективных технологий защиты',
                  ];
                .grid__item(data-reslider-title=JSON.stringify(titles))
          .reslider__place
            +container
              +grid(['5-1', 'aie'])
                .grid__item
                  .reslider__wrapper
                    .reslider__fade
                      .reslider__fade-item.reslider__fade-item--active
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Испытания фильтрующих материалов и&nbsp;новых сорбентов в&nbsp;наших лабораториях помогают совершенствовать защитные характеристики респираторов. Мониторинг клиентского опыта&nbsp;&mdash; источник адаптации наших продуктов и&nbsp;повышения комфорта использования полумасок.
                      .reslider__fade-item
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Технологическое развитие является важнейшим пунктом корпоративной стратегии предприятия. Мы&nbsp;автоматизируем процессы, внедряем технологии бережливого производства и&nbsp;совершенствуем парк оборудования.
                      .reslider__fade-item
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Понимание потребностей клиентов помогает нам выпускать продукцию, отвечающую самым строгим требованиям. Клиентский сервис включает информационную и&nbsp;техническую поддержку партнеров, онлайн и&nbsp;очное обучение.
                      .reslider__fade-item
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Технологическое развитие является важнейшим пунктом корпоративной стратегии предприятия. Мы&nbsp;автоматизируем процессы, внедряем технологии бережливого производства и&nbsp;совершенствуем парк оборудования.
                      .reslider__fade-item
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Понимание потребностей клиентов помогает нам выпускать продукцию, отвечающую самым строгим требованиям. Клиентский сервис включает информационную и&nbsp;техническую поддержку партнеров, онлайн и&nbsp;очное обучение.
                      .reslider__fade-item
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Технологическое развитие является важнейшим пунктом корпоративной стратегии предприятия. Мы&nbsp;автоматизируем процессы, внедряем технологии бережливого производства и&nbsp;совершенствуем парк оборудования.
                .grid__item
                  .progress
                    .progress__cur.reslider__progress-container
                      each i, index in repeat(count)
                        .progress__text.progress__text--fake
                          |#{index + 1}
                      .progress__text.reslider__progress(data-reslider-cur data-reslider-progress)
                        |1
                    .progress__all
                      |/#{count}
              +space(['sub-block'], ['pb'])
    when 'quality'
      - var count = 4;
      .reslider(data-reslider-count=count)
        .reslider__layout
          .swiper
            .swiper-wrapper
              each i, index in repeat(count)
                .swiper-slide
                  img.reslider__img(src=`assets/images/reslider/quality/${index % count}.jpeg` alt='' data-swiper-parallax='28%')
        .reslider__content
          .reslider__place
            +container
              +space(['block'], ['pt'])
              +hr(['light'])
              +space(['hr'])
              +heading(['sub'], 2)
                |Производственный процесс
              +space(['sub-block'])
              +grid(['3-6'])
                .grid__item
                  +grid(['controls'])
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-prev)
                          +arrow-left-svg.circle__svg.circle__svg--arrow-left
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-next)
                          +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
                -
                  var titles = [
                    'Выбор поставщика',
                    'Производство',
                    'Лабораторный контроль',
                    'Поставка покупателю',
                  ];
                .grid__item(data-reslider-title=JSON.stringify(titles))
          .reslider__place
            +container
              +grid(['5-1', 'aie'])
                .grid__item
                  .reslider__wrapper
                    .reslider__fade
                      .reslider__fade-item.reslider__fade-item--active
                        -
                          var items = [
                            'Лабораторный контроль качества материалов',
                            'Опытные испытания',
                            'Контроль качества комплектующих',
                          ];
                        +reslider-list(items)
                      .reslider__fade-item
                        .reslider__description
                          |Выборочный контроль качества изделий на&nbsp;всех звеньях цепи производства.
                      .reslider__fade-item
                        .reslider__description
                          |Испытания на&nbsp;соответствие ГОСТ 12.4.294-2015 и&nbsp;внутренним стандартам
                      .reslider__fade-item
                        .reslider__description
                          |Сбор обратной связи от&nbsp;клиентов и&nbsp;потребителей для оценки удовлетворенности и&nbsp;внедрения улучшений
                .grid__item
                  .progress
                    .progress__cur.reslider__progress-container
                      each i, index in repeat(count)
                        .progress__text.progress__text--fake
                          |#{index + 1}
                      .progress__text.reslider__progress(data-reslider-cur data-reslider-progress)
                        |1
                    .progress__all
                      |/#{count}
              +space(['sub-block'], ['pb'])
    when 'work'
      - var count = 3;
      .reslider(data-reslider-count=count)
        .reslider__layout
          .swiper
            .swiper-wrapper
              each i, index in repeat(count)
                .swiper-slide
                  img.reslider__img(src=`assets/images/reslider/work/${index % count}.jpeg` alt='' data-swiper-parallax='28%')
        .reslider__content
          .reslider__place
            +container
              +space(['block'], ['pt'])
              +hr(['light'])
              +space(['hr'])
              +heading(['sub'], 2)
                |Почему стоит выбрать Респираторный комплекс
              +space(['sub-block'])
              +grid(['3-6'])
                .grid__item
                  +grid(['controls'])
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-prev)
                          +arrow-left-svg.circle__svg.circle__svg--arrow-left
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-next)
                          +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
                -
                  var titles = [
                    'профессионализм',
                    'социальная ответственность',
                    'развитие',
                  ];
                .grid__item(data-reslider-title=JSON.stringify(titles))
          .reslider__place
            +container
              +grid(['5-1', 'aie'])
                .grid__item
                  .reslider__wrapper
                    .reslider__fade
                      .reslider__fade-item.reslider__fade-item--active
                        -
                          var items = [
                            'Мы эксперты в области средств индивидуальной защиты органов дыхания',
                            'Разрабатываем и производим продукцию, которая много лет неизменно держит высокую планку качества и заслужила доверие потребителей',
                            'Работой в Респираторном комплексе можно гордиться, ведь предприятие создает важный продукт и делает это хорошо',
                          ];
                        +reslider-list(items)
                      .reslider__fade-item
                        -
                          var items = [
                            'Предлагаем официальное оформление, белую зарплату, ДМС, настраиваемый график работы',
                            'Сотрудники производства обеспечены качественной спецодеждой',
                            'У нас богатая корпоративная жизнь: экскурсии и праздники для сотрудников и их детей, спортивные и туристические мероприятия',
                          ];
                        +reslider-list(items)
                      .reslider__fade-item
                        .reslider__description
                          |Организуем обучение сотрудников, поощряем участие в&nbsp;рационализаторской деятельности, поддерживаем проектную работу. Вы&nbsp;можете воплощать свои идеи, влиять на&nbsp;общий результат и&nbsp;каждый день расти вместе с&nbsp;Респираторным комплексом
                .grid__item
                  .progress
                    .progress__cur.reslider__progress-container
                      each i, index in repeat(count)
                        .progress__text.progress__text--fake
                          |#{index + 1}
                      .progress__text.reslider__progress(data-reslider-cur data-reslider-progress)
                        |1
                    .progress__all
                      |/#{count}
              +space(['sub-block'], ['pb'])
    when 'industrial'
      - var count = 3;
      .reslider(data-reslider-count=count)
        .reslider__layout
          .swiper
            .swiper-wrapper
              each i, index in repeat(count)
                .swiper-slide
                  img.reslider__img(src=`assets/images/reslider/industrial/${index % count}.jpeg` alt='' data-swiper-parallax='28%')
        .reslider__content
          .reslider__place
            +container
              +space(['block'], ['pt'])
              +hr(['light'])
              +space(['hr'])
              +heading(['sub'], 2)
                |Мы предлагаем
              +space(['sub-block'])
              +grid(['3-6'])
                .grid__item
                  +grid(['controls'])
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-prev)
                          +arrow-left-svg.circle__svg.circle__svg--arrow-left
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-next)
                          +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
                -
                  var titles = [
                    'Ассортимент',
                    'Кастомизация',
                    'Качество',
                  ];
                .grid__item(data-reslider-title=JSON.stringify(titles))
          .reslider__place
            +container
              +grid(['5-1', 'aie'])
                .grid__item
                  .reslider__wrapper
                    .reslider__fade
                      .reslider__fade-item.reslider__fade-item--active
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Разнообразие конструкций и&nbsp;защитных характеристик респираторов помогает подобрать СИЗОД под запросы ваших сотрудников и&nbsp;условия труда:
                          .stack__item
                            -
                              var items = [
                                'Аэрозоли концентрацией до 50 ПДК',
                                'Кислые и органические пары и газы',
                                'Пары аммиака, ртути и прочие вещества',
                              ];
                            +reslider-list(items)
                      .reslider__fade-item
                        +stack(['small'])
                          .stack__item
                            .reslider__description
                              |Наш профессиональный интерес&nbsp;&mdash; индивидуальные требования заказчиков. Благодаря технологическому уровню предприятия компания решает задачи клиентов:
                          .stack__item
                            -
                              var items = [
                                'Особая упаковка и комплектация продукции',
                                'Дополнительная маркировка',
                                'Нанесение логотипа',
                                'Размещение меток радиочастотной идентификации',
                                'Новый продукт по техническому заданию заказчика',
                              ];
                            +reslider-list(items)
                      .reslider__fade-item
                        .reslider__description
                          |Качество нашей продукции обеспечивается лучшими фильтрующими и&nbsp;сорбционными материалами, современным оборудованием и&nbsp;опытным персоналом, а&nbsp;стабильность&nbsp;&mdash; технологичностью производства, отлаженными процессами и&nbsp;постоянным контролем.
                .grid__item
                  .progress
                    .progress__cur.reslider__progress-container
                      each i, index in repeat(count)
                        .progress__text.progress__text--fake
                          |#{index + 1}
                      .progress__text.reslider__progress(data-reslider-cur data-reslider-progress)
                        |1
                    .progress__all
                      |/#{count}
              +space(['sub-block'], ['pb'])
    when 'trade'
      - var count = 3;
      .reslider(data-reslider-count=count)
        .reslider__layout
          .swiper
            .swiper-wrapper
              each i, index in repeat(count)
                .swiper-slide
                  img.reslider__img(src=`assets/images/reslider/trade/${index % count}.jpeg` alt='' data-swiper-parallax='28%')
        .reslider__content
          .reslider__place
            +container
              +space(['block'], ['pt'])
              +hr(['light'])
              +space(['hr'])
              +heading(['sub'], 2)
                |Мы предлагаем
              +space(['sub-block'])
              +grid(['3-6'])
                .grid__item
                  +grid(['controls'])
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-prev)
                          +arrow-left-svg.circle__svg.circle__svg--arrow-left
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-next)
                          +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
                -
                  var titles = [
                    'Различные варианты упаковки и комплектации ',
                    'Информационная поддержка',
                    'Маркетинговая поддержка',
                  ];
                .grid__item(data-reslider-title=JSON.stringify(titles))
          .reslider__place
            +container
              +grid(['5-1', 'aie'])
                .grid__item
                  .reslider__wrapper
                    .reslider__fade
                      .reslider__fade-item.reslider__fade-item--active
                        .reslider__description
                          |Специальная упаковка с&nbsp;подвесами для розничных магазинов, компактная индивидуальная упаковка, коробки и&nbsp;пакеты для комплектов из&nbsp;нескольких изделий&nbsp;&mdash; мы&nbsp;даем нашим партнерам возможность организовать поставку предприятиям или выкладку товаров и&nbsp;продажу самым удобным способом. Прислушиваемся к&nbsp;пожеланиям и&nbsp;дорабатываем упаковку, а&nbsp;в&nbsp;отдельных случаях, разрабатываем новую.
                      .reslider__fade-item
                        +stack
                          .stack__item
                            .reslider__description
                              |Организуем для партнеров обучение, постоянно обновляем комплекты материалов с&nbsp;описанием и&nbsp;техническими данными. Делимся нашим опытом продаж и&nbsp;знаниями в&nbsp;области защиты органов дыхания.
                          .stack__item
                            +press.press--info
                              |Оставить заявку на обучение
                      .reslider__fade-item
                        +stack
                          .stack__item
                            .reslider__description
                              |Наши рекламные и&nbsp;презентационные материалы помогут поддержать продажи. Объединение усилий в&nbsp;продвижении продукции, выпуск совместной полиграфии, проведение совместных рекламных кампаний укрепляет сотрудничество и&nbsp;делает наши действия значительно эффективнее. Мы&nbsp;открыты к&nbsp;предложениям!
                          .stack__item
                            +press.press--info
                              |Обсудить совместный проект
                .grid__item
                  .progress
                    .progress__cur.reslider__progress-container
                      each i, index in repeat(count)
                        .progress__text.progress__text--fake
                          |#{index + 1}
                      .progress__text.reslider__progress(data-reslider-cur data-reslider-progress)
                        |1
                    .progress__all
                      |/#{count}
              +space(['sub-block'], ['pb'])
    when 'medical'
      - var count = 3;
      .reslider(data-reslider-count=count)
        .reslider__layout
          .swiper
            .swiper-wrapper
              each i, index in repeat(count)
                .swiper-slide
                  img.reslider__img(src=`assets/images/reslider/medical/${index % count}.jpeg` alt='' data-swiper-parallax='28%')
        .reslider__content
          .reslider__place
            +container
              +space(['block'], ['pt'])
              +hr(['light'])
              +space(['hr'])
              +heading(['sub'], 2)
                |Работа с нами
              +space(['sub-block'])
              +grid(['3-6'])
                .grid__item
                  +grid(['controls'])
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-prev)
                          +arrow-left-svg.circle__svg.circle__svg--arrow-left
                    .grid__item
                      .circle.circle--blue
                        button.circle__button(type="button" data-reslider-next)
                          +arrow-left-svg.circle__svg.circle__svg--invert.circle__svg--arrow-left
                -
                  var titles = [
                    'Экспертный подход',
                    'Качество',
                    'Сервис',
                  ];
                .grid__item(data-reslider-title=JSON.stringify(titles))
          .reslider__place
            +container
              +grid(['5-1', 'aie'])
                .grid__item
                  .reslider__wrapper
                    .reslider__fade
                      .reslider__fade-item.reslider__fade-item--active
                        +stack
                          .stack__item
                            .reslider__description
                              |Многолетний опыт поставок в&nbsp;медучреждения позволил нам изучить процесс во&nbsp;всех деталях и&nbsp;глубоко погрузиться в&nbsp;специфику закупок в&nbsp;здравоохранении. Делимся знаниями и&nbsp;помогаем найти оптимальный порядок поставок СИЗОД.
                          .stack__item
                            +press.press--info
                              |задать вопрос
                      .reslider__fade-item
                        +stack
                          .stack__item
                            -
                              var items = [
                                'Как разработчик и производитель медицинских респираторов предприятие сертифицировано по стандарту ISO 13485-2017',
                                'Ежегодно проводим внутреннюю проверку качества и внешний аудит',
                              ];
                            +reslider-list(items)
                          .stack__item
                            +press.press--info
                              |контроль качества
                      .reslider__fade-item
                        -
                          var items = [
                            'Помогаем на всех этапах внедрения СИЗОД в медучреждениях',
                            'Поддерживаем клиентов технической информацией, помогаем контролировать качество поставляемой продукции',
                            'Проводим в собственной лаборатории испытания и предоставляем протоколы',
                            'Проводим мастер-классы и тренинги',
                          ];
                        +reslider-list(items)
                .grid__item
                  .progress
                    .progress__cur.reslider__progress-container
                      each i, index in repeat(count)
                        .progress__text.progress__text--fake
                          |#{index + 1}
                      .progress__text.reslider__progress(data-reslider-cur data-reslider-progress)
                        |1
                    .progress__all
                      |/#{count}
              +space(['sub-block'], ['pb'])
